* {
	box-sizing: border-box;
	-webkit-padding-start: 0px;
}

html, body{
	font-size: 62.5%;
	font-family: sans-serif;
	width:100%;
	height:100%;
	-webkit-font-smoothing: antialiased;
}

body, ul, p{
	margin:0;
	padding:0;
}

// My Normalize 

h1, h2, h3, h4{
	margin:0;
	font-weight:normal;
}

p{
	line-height: 35px;
}

button{
	outline:none;
	background:none;
	border:none;
	border-radius:0;
	padding:0;
	cursor:pointer;
}

blockquote{
	margin: 0;
	outline:none;
}

li{
	list-style: none;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none;
}

a:active,
a:hover {
	outline: 0;
	outline-width: 0;
}