/* ---------------------------------------------------
/////////////////// IMPORT SASS /////////////////////
---------------------------------------------------- */

@charset 'utf-8';
// Variables, Normalize, Colors, Typo ...
@import "base/functions";
@import "base/vars";
@import "base/normalize";
@import "base/typography";

// Layout

// Components

// Modules

/* ---------------------------------------------------
/////////////////////// GLOBAL ////////////////////////
---------------------------------------------------- */

p{
    @extend %PoppinsRegular;
    @include fontsize(18);
}






